@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

// Mixins

@mixin hover-links {
    color: #198539;
    transition: all .3s ease-in-out;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

@mixin standart-link {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
}

// Reset and common styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

// Header styles start

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    flex-wrap: wrap;

    &:after {
        content: '';
        height: 2px;
        width: 90%;
        margin: 30px auto;
        background: linear-gradient(90deg, #198539, #a0e2b4);
    }
}

.header-logo {
    min-width: 20%;
    font-weight: 700;
    font-size: 30px;
    cursor: default;
    display: flex;
    flex-direction: column;

    .subtext {
        font-size: 12px;
        font-weight: 400;
    }
}

.header-menu {
    display: flex;
    justify-content: space-around;
    min-width: 70%;
}

.menu-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 1.3px;

    &__item a{
        margin-right: 40px;
        text-transform: uppercase;
        font-size: 20px;
        @include standart-link();

        &:hover {
            @include hover-links()
        }
    }
}

.menu-contacts {
    text-align: center;
    padding: 15px 0;

        span a {
            @include standart-link();
            font-size: 16px;
            letter-spacing: 1.1px;
            scroll-behavior: smooth;

            &:hover {
                @include hover-links()
            }
        }
}

// Header styles end

// Main styles start

main {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.leading-products {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-self: center;
        max-width: 40%;

        h2 {
            width: 100%;
            margin: 0 auto;
            font-size: 50px;
        }

        p, h2 {
            align-self: center;
        }
    }

    img {
        width: 650px;
        height: 650px;
    }
}

// Footer styles start

footer {
    display: flex;
    gap: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #000;
    padding: 10px 30px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;

    &-logo {
        display: flex;
        flex-direction: column;
        color: #fff;
        font-size: 30px;

        .subtext {
            font-size: 12px;
        }
    }
}

.footer-menu {
    margin: 0 auto;
    display: flex;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
        text-align: center;
        margin-right: 50px;

        li {
            font-size: 28px;
            list-style-type: none;

            a {
                text-decoration: none;
                color: #fff;

                &:hover {
                    transition: all .3s ease-out;
                    color: #198539;
                }
            }
        }
    }   

    a {
        text-decoration: none;

        &:active,
        &:visited {
            text-decoration: none;
            outline: none;
            border: none;
        }
    }

    span {
    margin-left: 24px;

        a {
            color: #fff;
            text-decoration: none;
            font-size: 24px;

            &:active,
            &:visited {
                text-decoration: none;
                outline: none;
                border: none;
            }
        }
    }
}

.footer-menu__tel {
    width: 50px;
    height: 50px;
}

// Footer styles end