@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

a:visited,
a:active {
  color: inherit;
}

.wrapper {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
  flex-wrap: wrap;
}
header:after {
  content: "";
  height: 2px;
  width: 90%;
  margin: 30px auto;
  background: linear-gradient(90deg, #198539, #a0e2b4);
}

.header-logo {
  min-width: 20%;
  font-weight: 700;
  font-size: 30px;
  cursor: default;
  display: flex;
  flex-direction: column;
}
.header-logo .subtext {
  font-size: 12px;
  font-weight: 400;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  min-width: 70%;
}

.menu-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 1.3px;
}
.menu-list__item a {
  color: #000;
  margin-right: 40px;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
}
.menu-list__item a:hover {
  color: #198539;
  transition: all 0.3s ease-out;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: #198539;
}

.menu-contacts {
  text-align: center;
  padding: 15px 0;
}
.menu-contacts span a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 16px;
  letter-spacing: 1.1px;
  color: #000;
}
.menu-contacts span a:hover {
  color: #198539;
  transition: all 0.3s ease-out;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: #198539;
}
.menu-contacts span a:visited, .menu-contacts span a:active {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.leading-products {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.leading-products__info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-self: center;
  max-width: 40%;
}
.leading-products__info h2 {
  width: 100%;
  margin: 0 auto;
  font-size: 50px;
}
.leading-products__info p, .leading-products__info h2 {
  align-self: center;
}
.leading-products img {
  width: 650px;
  height: 650px;
}

.callback {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin: 100px auto;
}
.callback h2 {
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  padding: 50px;
}
.callback-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
.callback-form input,
.callback-form input:active {
  width: 120%;
  padding: 20px auto;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  font-size: 22px;
}
.callback-form__btn button {
  padding: 20px 50px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  background: #198539;
  color: #fff;
  font-size: 20px;
}

footer {
  display: flex;
  gap: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #000;
  padding: 10px 30px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 30px;
}
.footer-logo .subtext {
  font-size: 12px;
}

.footer-menu {
  margin: 0 10px 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-menu ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  text-align: center;
  margin-right: 50px;
}
.footer-menu ul li {
  font-size: 20px;
  list-style-type: none;
}
.footer-menu ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.footer-menu ul li a:hover {
  transition: all 0.3s ease-out;
  color: #198539;
}
.footer-menu a {
  text-decoration: none;
}
.footer-menu a:active, .footer-menu a:visited {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
}
.footer-menu span {
  margin-left: 18px;
}
.footer-menu span a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.footer-menu span a:active, .footer-menu span a:visited {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
}

.footer-menu__tel {
  width: 50px;
  height: 50px;
}

/*# sourceMappingURL=style.css.map */
